*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: auto;

}


header{
    border: solid 1px red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Alatsi', sans-serif;
}

.nav_list{
    list-style: none;
    background: yellow;
    
}

.nav_list__link{
    text-decoration: none;    
}

.nav_list__item{
    display: inline-block;
    border: solid 1px blue;
}

.imgnav{
    border: solid 1px green;
    /* margin-right: auto; */
}

.title_nav{
    margin-right: 0;
    margin-right: auto;
}

span{
    
    color: rebeccapurple;
}



